
body {
	font: 20px Arial, sans-serif;
    background-color: beige;
}
#wrapper {
	max-width: 1400px;
	margin: 0 auto;
    background-color: white;
}



/* Header
-----------------------------------------------------------------------------*/
#header {
    background-color: black;
    display: flex;
    justify-content: center;
}

#tekstVideo {
    background-color: darkblue;
}



/* Middle
-----------------------------------------------------------------------------*/
#content {
    padding: 6em 0;
}

#soundInterview {
    margin-bottom: 6em;
    display: flex;
    justify-content: space-around;
}

#soundInterview section {
    width: 20%;
    height: 450px;
    background-color: lime;
}

#soundInterview img {
    background-color: green;
    width: 100%;
    height: 70%;
}

#soundInterview p {
    font-size: 1.6em;
    padding: 0.3em;
    text-align: center;
}

#student2 {
    margin-top: 4em;
}

#student3 {
    margin-top: 2em;
}

#pictureVideoArticle {
    display: flex;
    justify-content: center;
}

#pictureVideo {
    background-color: darkblue;
}

#infographic {
    margin: 6em 0;
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

#infographic img {
    background-color: darkred;
    width: 40%;
    height: 400px;
}

#infographic p {
    background-color: crimson;
    width: 55%;
    font-size: 2em;
}

#advices {
    font-size: 2em;
}

#advices div {
    margin: 2em 0;
}

#firstRow {
    display: flex;
    justify-content: space-around;
}

#secondRow {
    display: flex;
    justify-content: center;
}

#advices p {
    width: 20%;
    background-color: blueviolet;
}



/* Footer
-----------------------------------------------------------------------------*/
#footer {
}