body {
    font: 20px Arial, sans-serif;
    background-color: beige;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
}



/* Header
-----------------------------------------------------------------------------*/
#header {
    background-color: black;
    display: flex;
    justify-content: center;
}

#tekstVideo {
    background-color: darkblue;
}



/* Middle
-----------------------------------------------------------------------------*/
#content {
    padding: 6em 0;
}

#soundInterview {
    margin-bottom: 6em;
    display: flex;
    justify-content: space-around;
}

#soundInterview section {
    width: 20%;
    height: 450px;
    background-color: lime;
}

#soundInterview img {
    background-color: green;
    width: 100%;
    height: 70%;
}

#soundInterview p {
    font-size: 1.6em;
    padding: 0.3em;
    text-align: center;
}

#student2 {
    margin-top: 4em;
}

#student3 {
    margin-top: 2em;
}

#pictureVideoArticle {
    display: flex;
    justify-content: center;
}

#pictureVideo {
    background-color: darkblue;
}

#infographic {
    margin: 6em 0;
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

#infographic img {
    width: 50%;
    margin: 0 auto;
}


#advices {
    background-image: url(../img/dennehervirker.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

#advices div {
    margin: 2em 0;
}


#advices p {
    width: 45%;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    padding: 1em;
}



#advices p:hover {
    width: 50%;
    transition-duration: 1s;
}


#firstRow {
    position: relative;
    height: 800px;
}

#firstRow p {
    position: absolute;
}

#firstRow #ad_heading {
    position: absolute;
    font-size: 2.5em;
}

#ad_heading {
    top: 0.2em;
    right: 5.5em;
}

#ad1 {
    top: 5em;
    left: 2.5em;
}

#ad2 {
    top: 7em;
    right: 2.5em;
}

#ad3 {
    top: 11em;
    left: 2.5em;
}

#ad4 {
    top: 15em;
    right: 1.5em;
}

#ad5 {
    top: 18em;
    left: 4em;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer div {
    width: 20%;
    background-color: #781ead;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3em;
}

#footer div a {
text-decoration: none;
    color: white;
     font-family: 'Bebas Neue', cursive;
}

