body {
    font: 20px 'Bebas Neue', sans-serif;
    /*background-color: #eee;*/
}

/*#wrapper {
	max-width: 1400px;
	margin: 0 auto;
    background-color: white;
}*/

#blackbox {
    position: fixed;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

#clickHereText {
    font-size: 0.5em;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    position: relative;
}

#topPauseButton {
    position: absolute;
    width: 50px;
    bottom: 20px;
    left: 10px;
}

#topPauseButton img {
    opacity: 0.4;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {}

#hashtag {
    padding-top: 3em;
    display: flex;
    justify-content: center;
}

#wirePic {
    width: 100%;
    position: relative;
    z-index: 5;
}

#soundInterviewArticle {
    background-image: url(../img/wall-texture-20opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#soundInterview {
    margin-top: -60px;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
}

#soundInterview section {
    width: 20%;
}

#soundInterview img {
    width: 90%;
}

#soundInterview p {
    font-size: 1.6em;
    padding: 0.3em;
    text-align: center;
    font-style: italic;
}

#infographic {
    padding: 5em 0;
    background-image: url(../img/wall-texture-20opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

#infographic img {
    width: 50%;
    margin: 0 auto;
}


#advices {
    background-image: url(../img/dennehervirker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#advices div {
    padding-bottom: 2em;
}


#advices p {
    width: 45%;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    padding: 1em;
}



#advices p:hover {
    width: 50%;
    transition-duration: 1s;
}


#firstRow {
    position: relative;
    height: 800px;
}

#firstRow p {
    position: absolute;
}

#firstRow #ad_heading {
    position: absolute;
    font-size: 2.5em;
}

#ad_heading {
    top: 0.2em;
    right: 5.5em;
}

#ad1 {
    top: 5em;
    left: 2.5em;
}

#ad2 {
    top: 7em;
    right: 2.5em;
}

#ad3 {
    top: 11em;
    left: 2.5em;
}

#ad4 {
    top: 15em;
    right: 1.5em;
}

#ad5 {
    top: 18em;
    left: 4em;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    padding: 3em 0;
}

#footer #klankHomepage {
    padding: 0.5em;
    width: 20%;
    background-color: #781ead;
    margin: 0 auto;
    text-align: center;
}

#footer #klankHomepage a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

#soMe {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

#soMe img {
    height: 80px;
}

#soMe a {
    margin: 0 1em;
}


